<!-- rendered into the right container of the influencer's modal -->

<% unless @influencer.present? %>
  <% @influencer = Influencer.first %>
<% end %>

<div class="topbar">
  <h1 class="dark"><%= @influencer.name %></h1>
  <br>
  <p><%= @influencer.bio %></p>
</div>

<div class="inner-left">
  <h3>Filter by:</h3>
  <br>
    <h4>
    <%=link_to "Articles",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "article"), :class => "dark", remote: true %>
  </h4>

  <h4>
    <%=link_to "Podcasts",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "podcast"), :class => "dark", remote: true %>
  </h4>

  <h4>
    <%=link_to "Videos",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "video"), :class => "dark", remote: true %>
  </h4>

  <h4>
    <%=link_to "Tweets",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "tweet"), :class => "dark", remote: true %>
  </h4>
</div>

<div class="inner-right"></div>
