<!-- Default displays the details of the first influencer in the list -->


<!-- This is what is rendered into the right container of the influencer's modal -->

<div class="close-header title-top-bar top-bar-nav-modal bottom-border">
  <p data-dismiss="modal" aria-hidden="true">
    <i class="fas fa-times gray"></i>
  </p>
</div>

<div class="sidebar">
  <h2 class="dark">My Influencers</h2><br>

  <!-- Lists the influencer's included in the user's preferences -->

  <% @my_influencers.each do | influencer | %>
    <h3><%=link_to influencer.name, influencer_path(influencer), :class => "blue", remote: true %></h3>
  <% end %>

  <br><br>

  <!-- Lists all the influencer's available -->
  <h2 class="dark">Top Influencers</h2><br>

  <!-- map preferences to obtain influencer ids -->
  <%# pref_filter = @my_preference.map do | pref | %>
    <%# pref.influencer.id %>
  <%# end %>

  <!-- display only influencers NOT in the user's list -->
  <% @not_my_influencers.sort.each do | influencer | %>

    <%# unless pref_filter.include?(influencer.id) %>
      <h3><%=link_to influencer.name, influencer_path(influencer), :class => "gray", remote: true %></h3>
      <%# end %>
  <% end %>
</div>

<!-- Displays the influencer avatar and name -->
<div class="name-bar">
    <h1 class="dark"><%= @influencer.name %></h1>

    <% if @preference.nil? %>

      <%= link_to influencer_preferences_path(@influencer), method: :post, remote: true do %>
      <p class="button-outline">Follow</p>
      <% end %>

    <% else %>
      <%= link_to influencer_preference_path(@influencer, @preference), method: :delete, remote: true do %>
      <p class="button-outline">Unfollow</p>
      <% end %>
    <% end %>
</div>

<div class="avatar-container">
  <%= image_tag(@influencer.photo, :alt => @influencer.name, :class => "influencer-avatar") %>
</div>

<!-- Influencer biography displayed here -->

<div class="bio-container">
  <p><%= @influencer.bio %></p>
</div>

<div class="inner-left">

  <!-- Filter tags to toggle between colelcted articles -->

  <h3>Filter By</h3>
  <br>
    <h4>
    <%=link_to "Articles",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "article"), :class => "blue", remote: true %>
  </h4>

  <h4>
    <%=link_to "Podcasts",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "podcast"), :class => "blue", remote: true %>
  </h4>

  <h4>
    <%=link_to "Videos",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "video"), :class => "blue", remote: true %>
  </h4>

  <h4>
    <%=link_to "Tweets",
      influencer_type_path(influencer_id: @influencer.id,
      formata: "tweet"), :class => "blue", remote: true %>
  </h4>

  <br>

  <!-- Renders external links to the influencer's accounts -->

  <h3>Accounts</h3>
  <br>

  <div class="accounts-container">
    <% @influencer.accounts.each do |account| %>
      <h4><%=link_to account.platform.name, account.url, :class => "blue", target: "_blank" %></h4>
    <% end %>
  </div>

</div>

<!-- Renders content from the _medium partial -->

<div class="inner-right">

<%= render partial: "influencers/medium" %>

</div>
