<div class="form-container">
  <div class="row">
    <div class="form-wrapper col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-4">
      <div class="form-signup">
        <h2>Sign up test</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        wrapper_html: { class: "user_name_input"} %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>

        <div>
          <h2 id="page_two_progress_button"><%= render "devise/shared/links" %></h2>
        </div>

      </div>
    </div>
  </div>
</div>
