
<!-- Ed's code -->
<!-- Dsplay the page in a grid fashion for responsive design -->
<div id="display-grid">
<div class="top-border"></div>
  <!-- Container Left Side -->
  <div class="bubble-container">
    <% @state_array.each do |state| %>
      <!-- Going through all Medium from State to diplay in a wrapper -->
      <div class="bubble-wrapper" data-target-id="medium<%= state.medium.id %>">
        <!-- Storing the format in a CSS class style -->
        <div class='bubble <%=state.medium.format.type_of%>'>
          <!-- Displaying Influencer Name for all media format in a CSS Title class -->
          <!-- Inner-round Div = Curve inner corner top right of bubbles -->
          <div class="title-top-bar"> <div id="inner-round"></div> <h2 class="bubble-influencer"> <%= state.medium.influencer.name %> </h2> </div>
          <!-- Display different content for Format type -->
          <!-- ARTICLE-->
          <% if state.medium.format.type_of == "article" %>
            <div class="icon-container"><i class="far fa-file-alt"></i></div>
            <h4 class="bubble-title"> <%= state.medium.title %> </h4>
            <div class="content">
              <p> Dispaly Count: <%= state.display_count %> </p>
              <p> <%= state.medium.content.first(100) if state.medium.content %> </p>
            </div>
          <!-- TWEET-->
          <% elsif state.medium.format.type_of == "tweet" %>
            <div class="icon-container"><i class="fab fa-twitter"></i></div>
            <h4 class="bubble-title"> 1 new tweet </h4>
            <div class="content">
              <h2>Tweet</h2>
              <p> <%= state.medium.content if state.medium.content %> </p>
            </div>
          <!-- PODCAST-->
          <% elsif state.medium.format.type_of == "podcast" %>
            <div class="icon-container"><i class="fas fa-headphones"></i></div>
            <h4 class="bubble-title"><%= state.medium.title %></h4>
            <div class="content"> <h3>Podcast</h3> </div>
          <!-- VIDEO-->
          <% elsif state.medium.format.type_of == "video" %>
            <div class="icon-container"><i class="fas fa-tv"></i></div>
            <h4 class="bubble-title"><%= state.medium.title %></h4>
            <div class="content"> <h3>Video</h3> </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

   <!-- MENU DISPLAY -->

  <div class="header-container">
    <div class="menu-container">
      <div id="menu-content" class="hidden">
        <ul class="menu list-inline">
          <li class="list-inline-item"><h4><%= link_to "Logout", destroy_user_session_path, method: :delete %></h4></li>
          <li class="list-inline-item"><h4>|</h4></li>
          <li class="list-inline-item"><h4><%= link_to "Influencers", destroy_user_session_path, method: :delete %></h4></li>
        </ul>
      </div>
      <div id="menu-logo-container"><%= image_tag "Logo.svg", height: 60 %></div>
    </div>
  </div>

  <!-- RIGHT SIDE DISPLAY -->

  <div class="window-container ">
    <% @state_array.each do |state| %>
      <div class="bubble-right" id="medium<%= state.medium.id %>">
        <div class="title-top-bar top-bar-nav bottom-border">
          <p class="close-button">close</p>
        </div>
        <div class="content article-text-style">
          <h3 class="title_styling"><%= state.medium.title %></h3>
          <h3 class="influencer_name_styling"><%= state.medium.influencer.name %></h3>
          <br>
          <p class="body_styling"><%= state.medium.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
