<!-- for testing -->
<%#= render 'test/dashboard' %>

<!-- Dsplay the page in a grid 2 columns desktop / 1 column mobile-->
<div id="display-grid">

<!-- MENU DISPLAY -->
  <div class="navbar-influencr menu-container fixed-top">

    <!-- DESKTOP MENU -->
    <div class="menu-desktop hidden-sm">
      <!-- Righ Navigation for desktop -->
      <div class="menu hidden">
        <!-- Link list -->
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "menu-item" %>
        <%= link_to "My Influencers", "#", { "data-target" => ".bd-example-modal-lg", "data-toggle" => "modal", class: "menu-item" } %>
      </div>
      <!-- Logo - Clickable far right -->
      <div id="menu-logo-container-desktop">
        <!-- SVG LOGO -->
        <%= render partial:'shared/logo', locals: { myclass: 'logo-white' } %>
      </div>
    </div>

    <!-- MOBILE MENU -->
    <div id="menu-mobile" class="menu-mobile hidden-lg" >
    <!-- Navigation for mobile -->

      <div id="inner-round-mobile"></div>

      <div class="menu">
        <!-- Link list -->
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "menu-item dark" %>
        <%= link_to "My Influencers", ".bd-example-modal-lg", "data-toggle" => "modal", class: "menu-item dark" %>
      </div>

    <!-- Logo - Clickable far right -->
      <div id="menu-logo-container-mobile">
        <!-- SVG LOGO -->
        <%= render partial:'shared/logo', locals: { myclass: 'logo-dark' } %>
      </div>

    </div>
  </div>

<!-- INDEX DISPLAY -->
  <!-- Container Left Side -->
  <div  id="bubble_update" class="bubble-container overflow-sm">
    <%= render "shared/index-bubble" %>
  </div>

  <!-- INFLUENCER'S MODAL -->

  <div class="modal bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-container">
          <%= render partial: 'influencers/influencer_modal' %>
        </div>

      </div>
    </div>
  </div>

  <!-- RIGHT SIDE DISPLAY -->

  <div class="window-container hidden-sm">
    <% @my_states.each do |state| %>
      <div class="bubble-right" id="medium<%= state.medium.id %>">
        <div class="title-top-bar top-bar-nav bottom-border">

          <!-- top menu -->
          <div class="menu-window">
            <!-- READ / Update read state -->
            <%=link_to state_path(state.id),method: :patch, remote: true do %>
              <p id="<%= state.id %>readstate" class="click-aspect menu-item-window">read</p>
            <% end %>

            <!-- FULLSCREEN / Redirect to medium show page -->
            <%=link_to medium_path(state.medium.id) do %>
              <p class="click-aspect menu-item-window">fullscreen</p>
            <% end %>

            <!-- <p class="menu-item-window">|</p> -->

            <!-- CLOSE -->
            <p class="close-button click-aspect menu-item-window">close</p>
          </div>
        </div>

        <div class="content article-text-style">
          <h3 class="title_styling"><%= state.medium.title %></h3>
          <h3 class="influencer_name_styling"><%= state.medium.influencer.name %></h3>
          <br>
          <p class="body_styling"><%= state.medium.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'application' %>
<%= javascript_pack_tag 'application' %>
