<h1>All medium</h1>

<div>
  <%= @media.each do |medium| %>
    <div class="bubble-container">
      <%= render "components/bubble" do |f| %>
        <h2> <%= medium.influencer.name %> </h2>
        <p> <%= medium.title %> </p>
        <div> <p class="content hidden"> <%= medium.content.first(200) if medium.content %> </p> </div>
      <% end %>
    </div>
  <% end %>
</div>

<p><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></p>
<p><strong>LAST SESSION:</strong>
  <span id="utc" data-time="<%= current_user.last_sign_in_at %>"></span></p>
  <p><%= current_user.last_sign_in_at %></p>

<% @media.each do |medium| %>
<% state = State.find_by(medium: medium, user: current_user) %>
<ul>
<li><%= medium.title %></li>
<li><%= medium.influencer.name %></li>
<li><%= medium.url %></li>
<li>Dispaly Count: <%= state.display_count %></li>
<li>Sort Value: <%= state.algo_check %></li>
</ul>
<br>
<% end %>

