<h1>All medium</h1>
<div>
  <%= @media.each do |medium| %>
    <div class="bubble-container">
      <%= render "components/bubble" do |f| %>
        <h2> <%= medium.influencer.name %> </h2>
        <p> <%= medium.title %> </p>
        <div> <p class="content hidden"> <%= medium.content.first(200) if medium.content %> </p> </div>
      <% end %>
    </div>
  <% end %>
</div>
