
<!-- Dsplay the page in a grid 2 columns desktop / 1 column mobile-->
<div id="display-grid">

<!-- MENU DISPLAY -->
  <div class="navbar-influencr menu-container fixed-top">

    <!-- DESKTOP MENU -->
    <div class="menu-desktop hidden-sm">
      <!-- Righ Navigation for desktop -->
      <div class="menu hidden">
        <!-- Link list -->
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "menu-item" %>
        <%= link_to "My Influencers", "#", { "data-target" => ".bd-example-modal-lg", "data-toggle" => "modal", class: "menu-item" } %>
      </div>
      <!-- Logo - Clickable far right -->
      <div id="menu-logo-container-desktop">
        <!-- SVG LOGO -->
        <%= render partial:'shared/logo', locals: { myclass: 'logo-white' } %>
      </div>
    </div>

    <!-- MOBILE MENU -->
    <div id="menu-mobile" class="menu-mobile hidden-lg" >
    <!-- Navigation for mobile -->

      <div id="inner-round-mobile"></div>

      <div class="menu">
        <!-- Link list -->
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "menu-item dark" %>
        <%= link_to "My Influencers", ".bd-example-modal-lg", "data-toggle" => "modal", class: "menu-item dark" %>
      </div>

    <!-- Logo - Clickable far right -->
      <div id="menu-logo-container-mobile">
        <!-- SVG LOGO -->
        <%= render partial:'shared/logo', locals: { myclass: 'logo-dark' } %>
      </div>

    </div>
  </div>

<!-- INDEX DISPLAY -->

 <!-- Container Left Side -->
  <div class="bubble-container overflow-sm">
    <% @state_array.each do |state| %>

      <!-- Going through all Medium from State to diplay in a wrapper -->
      <div class="bubble-wrapper" data-target-id="medium<%= state.medium.id %>">

        <!-- Storing the format in a CSS class style -->
        <div class='bubble <%=state.medium.format.type_of%>'>

          <!-- Displaying Influencer Name for all media format in a CSS Title class -->
          <!-- Inner-round Div = Curve inner corner top right of bubbles -->
          <div class="title-top-bar"> <div id="inner-round"></div> <h2 class="bubble-influencer"> <%= state.medium.influencer.name %> </h2> </div>

          <!-- Display different content for Format type -->

          <!-- ARTICLE-->
          <% if state.medium.format.type_of == "article" %>
            <div class="icon-container"><i class="far fa-file-alt"></i></div>
            <h4 class="bubble-title"> <%= state.medium.title %> </h4>
            <div class="content">
              <p> Dispaly Count: <%= state.display_count %> </p>
              <p> <%= state.medium.content.first(100) if state.medium.content %> </p>
            </div>

          <!-- TWEET-->
          <% elsif state.medium.format.type_of == "tweet" %>
            <div class="icon-container"><i class="fab fa-twitter"></i></div>
            <h4 class="bubble-title"> 1 new tweet </h4>
            <div class="content">
              <h2>Tweet</h2>
              <p> <%= state.medium.content if state.medium.content %> </p>
            </div>

          <!-- PODCAST-->
          <% elsif state.medium.format.type_of == "podcast" %>
            <div class="icon-container"><i class="fas fa-headphones"></i></div>
            <h4 class="bubble-title"><%= state.medium.title %></h4>
            <div class="content"> <h3>Podcast</h3> </div>

          <!-- VIDEO-->
          <% elsif state.medium.format.type_of == "video" %>
            <div class="icon-container"><i class="fas fa-tv"></i></div>
            <h4 class="bubble-title"><%= state.medium.title %></h4>
            <div class="content"> <h3>Video</h3> </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- INFLUENCER'S MODAL -->

  <div class="modal bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-container">
          <%= render partial: 'influencers/influencer_modal' %>
        </div>

      </div>
    </div>
  </div>

  <!-- RIGHT SIDE DISPLAY -->

  <div class="window-container hidden-sm">
    <% @state_array.each do |state| %>
      <div class="bubble-right scroll" id="medium<%= state.medium.id %>">
        <div class="fixed-top top-bar-nav bottom-border">

          <!-- top menu -->
          <div class="menu-window">
            <!-- READ / Update read state -->
            <%=link_to state_path(state.id),method: :patch, remote: true do %>
              <p id="<%= state.id %>readstate" class="click-aspect menu-item-window">read</p>
            <% end %>

            <!-- FULLSCREEN / Redirect to medium show page -->
            <%=link_to medium_path(state.medium.id) do %>
              <p class="click-aspect menu-item-window">fullscreen</p>
            <% end %>

            <!-- <p class="menu-item-window">|</p> -->

            <!-- CLOSE -->
            <p class="close-button click-aspect menu-item-window">close</p>
          </div>
        </div>

        <div class="content article-text-style">
          <h3 class="title_styling"><%= state.medium.title %></h3>
          <br>
          <h3 class="influencer_name_styling">By <%= state.medium.influencer.name %></h3>
          <em><%= link_to "Source", state.medium.url, :class => "dark-small", target: "_blank" %></em>
          <br><br>
          <p class="body_styling"><%= state.medium.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'application' %>
<%= javascript_pack_tag 'application' %>
