<div>
  <h2><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></h2>
  <p><strong>LAST SESSION:</strong>
  <span id="utc" data-time="<%= current_user.last_sign_in_at %>"></span></p>
  <p><%= current_user.last_sign_in_at %></p>
</div>

<h1>All medium</h1>
<p><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></p>
<p><strong>LAST SESSION:</strong>
  <span id="utc" data-time="<%= current_user.last_sign_in_at %>"></span></p>
  <p><%= current_user.last_sign_in_at %></p>

<!-- Ed's code -->

<div>
  <%= @media.each do |medium| %>
    <% state = State.find_by(medium: medium, user: current_user) %>
    <div>
      <div id="display-grid">
        <div class="bubble-container">
          <%= render "components/bubble" do |f| %>

            <h2 class="bubble-influencer"> <%= medium.influencer.name %> </h2>
            <p class="bubble-title"> <%= medium.title %> </p>

            <div class="content">
              <p> Dispaly Count: <%= state.display_count %> </p>
              <p> <%= medium.content.first(100) if medium.content %> </p>
            </div>
          <% end %>
        </div>
        <div class="window-container">

        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- <%# @state_array.each do |state| %>
  <span>
    <br>
    <p><%# state.medium.title %></p>
    <p>By <%# state.medium.influencer.name %></p>
    <p><%# state.medium.url %></p>
    <p><%# state.medium.created_at %></p>
    <p>
      t: <%# state.medium.format.type_of %> |
      d: <%# state.display_count %> |
      v: <%# state.algie_check %>
 -->
