<h1>All medium</h1>
<p><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></p>
<p><strong>LAST SESSION:</strong>
  <span id="utc" data-time="<%= current_user.last_sign_in_at %>"></span></p>
  <p><%= current_user.last_sign_in_at %></p>

<!-- Ed's code -->

<div>
  <%= @media.each do |medium| %>
    <div class="bubble-container">
      <%= render "components/bubble" do |f| %>
        <h2> <%= medium.influencer.name %> </h2>
        <p> <%= medium.title %> </p>
        <div> <p class="content hidden"> <%= medium.content.first(200) if medium.content %> </p> </div>
      <% end %>
    </div>
  <% end %>
</div>

<!-- Gary's code: iterated over 'states' -->

<h2>STATES ITERATION</h2>

<% @state_array.each do |state| %>
  <span>
    <br>
    <p><%= state.medium.title %></p>
    <p>By <%= state.medium.influencer.name %></p>
    <p><%= state.medium.url %></p>
    <p><%= state.medium.created_at %></p>
    <p>
      t: <%= state.medium.format.type_of %> |
      d: <%= state.display_count %> |
      v: <%= state.algie_check %>
    </p>
    <br>
    <p>- - - - - - - - - - - - - - - - - - - - - - - - - -</p>
  </span>
<% end %>

