<div>
  <h2><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></h2>
  <p><strong>LAST SESSION:</strong>
  <span id="utc" data-time="<%= current_user.last_sign_in_at %>"></span></p>
  <p><%= current_user.last_sign_in_at %></p>
</div>

<h1>All medium</h1>

<!-- Ed's code -->

<div id="display-grid">

  <div class="bubble-container">
    <%= @state_array.each do |state| %>

      <div class="bubble-wrapper">

        <div class='bubble <%=state.medium.format.type_of%>'>

          <div class="title-top-bar"> <h2 class="bubble-influencer"> <%= state.medium.influencer.name %> </h2> </div>

          <% if state.medium.format.type_of == "article" %>
            <h4 class="bubble-title"> <%= state.medium.title %> </h4>
            <div class="content">
              <p> Dispaly Count: <%= state.display_count %> </p>
              <p> <%= state.medium.content.first(100) if state.medium.content %> </p>
            </div>

          <% elsif state.medium.format.type_of == "tweet" %>
            <div class="content"> <h2>Tweet</h2> </div>

          <% elsif state.medium.format.type_of == "podcast" %>
            <h4 class="bubble-title"> <%= state.medium.title %> </h4>
            <div class="content"> <h2>Podcast</h2> </div>

          <% elsif state.medium.format.type_of == "video" %>
            <h4 class="bubble-title"> <%= state.medium.title %> </h4>
            <div class="content"> <h2>Video</h2> </div>
          <% end %>
        </div>
      </div>

      <div class="window-container">
      </div>

    <% end %>
  </div>
</div>


      <%#= state.medium.format.type_of %>
      <%#= state.display_count %>
      <%#= state.algie_check %>

